th.mat-header-cell {
  background-color: #4caf50 !important; /* Forzar el color de fondo */
  color: white !important; /* Forzar el color del texto */
  text-align: center !important;
}

td.mat-cell {
  text-align: center !important; /* Forzar el centrado de las celdas */
}
