<div mat-dialog-content class="flex flex-col items-center justify-between bg-white p-10 rounded w-full">
    <!-- Botón para cerrar -->
    <button type="button"
        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center"
        (click)="closeDialog()">
        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
        </svg>
    </button>

    <!-- Logo y título -->
    <div class="flex flex-col items-center">
        <img src="/logo.png" alt="Logo" class="w-12 h-12 rounded-full mb-4">
        <h3 class="text-3xl uppercase font-medium text-purple-700 tracking-wide">Bermellona Accesorios</h3>
        <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Iniciar Sesión</h2>
    </div>

    <!-- Formulario de inicio de sesión -->
    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        <form [formGroup]="formLogin" (ngSubmit)="iniciarSesion()">
            <div>
                <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Correo Electrónico</label>
                <input id="email" name="email" type="email" formControlName="email"
                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
                <p class="text-red-600"
                    *ngIf="formLogin.get('email')?.hasError('required') && formLogin.get('email')?.touched">
                    El email es requerido
                </p>
                <p class="text-red-600" *ngIf="formLogin.get('email')?.hasError('email')">
                    El email ingresado no es válido
                </p>
            </div>
            <div class="mt-4 relative">
                <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Contraseña</label>

                <input id="password" [type]="showPassword ? 'text' : 'password'" formControlName="password"
                    name="password"
                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />

                <p class="text-red-600"
                    *ngIf="formLogin.get('password')?.hasError('required') && formLogin.get('password')?.touched">
                    La contraseña es requerida
                </p>

                <!-- Ícono de ojito -->
                <button type="button" (click)="togglePasswordVisibility()"
                    class="absolute inset-y-0 right-0 pr-3 flex items-center text-sm leading-5">
                    <svg *ngIf="!showPassword" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-500"
                        viewBox="0 0 20 20" fill="currentColor">
                        <path
                            d="M10 2C6.686 2 3.735 3.916 2.258 7.23a1 1 0 000 .847C3.735 12.084 6.686 14 10 14s6.265-1.916 7.742-5.23a1 1 0 000-.847C16.265 3.916 13.314 2 10 2zM10 12a4 4 0 110-8 4 4 0 010 8z" />
                    </svg>
                    <svg *ngIf="showPassword" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-500"
                        viewBox="0 0 20 20" fill="currentColor">
                        <path
                            d="M3.707 3.707a1 1 0 00-1.414 1.414l12 12a1 1 0 001.414-1.414l-12-12zM4.53 4.53a8 8 0 0010.942 10.942l-1.58-1.58A5 5 0 015.11 6.11L4.53 4.53z" />
                    </svg>
                </button>
            </div>


            <div class="mt-6">
                <button type="submit"
                    class="w-full flex justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                    Ingresar
                </button>
            </div>
        </form>
    </div>
</div>