
<header class="header-gradient text-gray-600 body-font fixed-right">
    <div class="container mx-auto p-2 flex flex-col md:flex-row items-center justify-between">
      <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
        <span class=" mr-2" style="font-size: 25px; font-weight: bold;">Bermellona</span>
        <img src="/logo.png" alt="Logo" class="w-12 h-12 rounded-full">
        <span class="ml-2 " style="font-size: 25px; font-weight: bold;">Accesorios</span>
      </a>
      <nav class="md:ml-auto flex justify-center items-center text-base space-x-2">
        <button  [routerLink]="['']"   mat-raised-button   class="w-full md:w-auto bg-pink-700 hover:bg-pink-300 text-white font-bold py-2 px-4 rounded" mat-raised-button
        matTooltip="Página principal"
        aria-label="Button that displays a tooltip when focused or hovered over">
        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="currentColor"  class="icon icon-tabler icons-tabler-filled icon-tabler-home"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12.707 2.293l9 9c.63 .63 .184 1.707 -.707 1.707h-1v6a3 3 0 0 1 -3 3h-1v-7a3 3 0 0 0 -2.824 -2.995l-.176 -.005h-2a3 3 0 0 0 -3 3v7h-1a3 3 0 0 1 -3 -3v-6h-1c-.89 0 -1.337 -1.077 -.707 -1.707l9 -9a1 1 0 0 1 1.414 0m.293 11.707a1 1 0 0 1 1 1v7h-4v-7a1 1 0 0 1 .883 -.993l.117 -.007z" /></svg>
        </button>
        <button *ngIf="usuarioAdmin" [routerLink]="['/administracion']"   mat-raised-button   class="w-full md:w-auto bg-pink-700 hover:bg-pink-300 text-white font-bold py-2 px-4 rounded" mat-raised-button
        matTooltip="Panel de administración"
        aria-label="Button that displays a tooltip when focused or hovered over">
        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="currentColor"  class="icon icon-tabler icons-tabler-filled icon-tabler-dashboard"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 2.954a10 10 0 0 1 6.222 17.829a1 1 0 0 1 -.622 .217h-11.2a1 1 0 0 1 -.622 -.217a10 10 0 0 1 6.222 -17.829m4.207 5.839a1 1 0 0 0 -1.414 0l-2.276 2.274a2.003 2.003 0 0 0 -2.514 1.815l-.003 .118a2 2 0 1 0 3.933 -.517l2.274 -2.276a1 1 0 0 0 0 -1.414" /></svg>
        </button>
        <button data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"  mat-raised-button   class="w-full md:w-auto bg-pink-700 hover:bg-pink-300 text-white font-bold py-2 px-4 rounded" mat-raised-button
        matTooltip="Carrito compras"
        aria-label="Button that displays a tooltip when focused or hovered over">
          <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="currentColor"  class="icon icon-tabler icons-tabler-filled icon-tabler-shopping-cart"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 2a1 1 0 0 1 .993 .883l.007 .117v1.068l13.071 .935a1 1 0 0 1 .929 1.024l-.01 .114l-1 7a1 1 0 0 1 -.877 .853l-.113 .006h-12v2h10a3 3 0 1 1 -2.995 3.176l-.005 -.176l.005 -.176c.017 -.288 .074 -.564 .166 -.824h-5.342a3 3 0 1 1 -5.824 1.176l-.005 -.176l.005 -.176a3.002 3.002 0 0 1 1.995 -2.654v-12.17h-1a1 1 0 0 1 -.993 -.883l-.007 -.117a1 1 0 0 1 .883 -.993l.117 -.007h2zm0 16a1 1 0 1 0 0 2a1 1 0 0 0 0 -2zm11 0a1 1 0 1 0 0 2a1 1 0 0 0 0 -2z" /></svg>
        </button>
        <button *ngIf="usuarioLogueado"   class="w-full md:w-auto bg-pink-700 hover:bg-pink-300 text-white font-bold py-2 px-4 rounded" mat-raised-button
        matTooltip="Mi perfil"
        aria-label="Button that displays a tooltip when focused or hovered over">
          <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-user-circle"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" /><path d="M12 10m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" /><path d="M6.168 18.849a4 4 0 0 1 3.832 -2.849h4a4 4 0 0 1 3.834 2.855" /></svg>
        </button>
        <button *ngIf="!usuarioLogueado"  (click)="openLoginDialog()" class="w-full md:w-auto bg-pink-700 hover:bg-pink-300 text-white font-bold py-2 px-4 rounded">
            Iniciar Sesión
        </button>
        <button *ngIf="!usuarioLogueado" (click)="openRegistroDialog()" class="w-full md:w-auto bg-pink-700 hover:bg-pink-300 text-white font-bold py-2 px-4 rounded">
          Registrate
        </button>
        <button *ngIf="usuarioLogueado" (click)="cerrarSesion()" class="w-full md:w-auto bg-pink-700 hover:bg-pink-300 text-white font-bold py-2 px-4 rounded" mat-raised-button
        matTooltip="Cerrar Sesión"
        aria-label="Button that displays a tooltip when focused or hovered over">
          <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-login-2"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 8v-2a2 2 0 0 1 2 -2h7a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-7a2 2 0 0 1 -2 -2v-2" /><path d="M3 12h13l-3 -3" /><path d="M13 15l3 -3" /></svg>
        </button>
      </nav>
    </div>
</header>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header bg-pink-700">
    <h5 class="offcanvas-title text-white" id="offcanvasRightLabel">Mi Carrito de compras</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    ...
  </div>
</div>

  